{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}

<button type="button" class="btn btn-lg btn-info" 
data-bs-trigger="hover focus"
title="Dashboard" data-bs-content="Summary of latest updates">Dashboard</button>

{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}


  <section class="vh-100" style="background-color: #946bbe;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center" >
  
              <h3 class="mb-5">Sign in</h3>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                <input type="text" name="username" class="form-control form-control-lg" required/>
                
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" name="password" class="form-control form-control-lg" required />
                
              </div>
  
      
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
  
              <hr class="my-4">
  
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<br/>

</form>

</div>



{% endif %}

{% endblock %}