<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand mb-0 h1" href="{% url 'home' %}" style="color: rgb(204, 127, 225);" >Campus Surveillance</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav justify-content-right">
      {% if user.is_authenticated%}

      <div class="dropdown nav-item">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(204, 127, 225);">Links</button>
        <ul class="dropdown-menu">
          {% for link in links %}
              <li class="nav-item"><a class="nav-link" href="{{ link.url }}" style="color: rgb(204, 127, 225);">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div> 

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" style="color: rgb(204, 127, 225);">&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}" style="color: rgb(204, 127, 225);" >&nbsp;&nbsp;&nbsp;&nbsp;Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>