{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    body {
      background-image: url('{% static "staff/20.jpg"%}');
      background-repeat: repeat;
      background-attachment: auto;
      background-size: 100%;
    }
</style>

{{records.STAFF_ID}}
<br>
{{records.STAFF_NAME}}
<br>
{{records.GENDER}}
<br>
{{records.DOB}}
<br>
{{records.MOBILE_NO}}
<br>
{{records.EMAIL_ID }}
<br>
{{records.JOINING_DATE}}
<br>
{{records.LEAVING_DATE }}
<br>
{{records.ACTIVE_STATUS}}
<br>
{{records.EMPLOYEE_ID}}
<br>
{{records.PASSWORD}}
<br>
{{records.STAFF_ROLE_ID}}
<br>
{{records.ROLE_NAME}}
<br>
{% endblock %}